.content{
    width: 100%;
    background-color: rgb(14, 182, 22);
    padding: 20px;
    width: 100%;
    color: white;
}

#display{
    width: 100%;
}
.used-passwords{
    color: white;
}

#slider{
    width: 50%;
}

#length{
    display: inline-block;
    width: 100px;
}
body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif");
    background-size: cover;
}

.used-passwords{
    margin-bottom: 20px;
}