.content{
    width: 100%;
    background-color: rgb(15, 107, 20);
    padding: 20px;
    width: 75%;
    color: white;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
}

#display{
    width: 75%;
}

#slider{
    width: 50%;
    margin-top: 5px;
}

#length{
    display: inline-block;
    width: 100px;
}
body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif");
    background-size: cover;
}

.used-passwords{
    margin-bottom: 20px;
    color: white;
    background-color: rgba(15, 107, 20, 0.74);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
}


#jumbotron{
    font-family: 'Oswald', sans-serif;
    background-image: radial-gradient(green,black);
    text-shadow: 1px 1px 2px  green, 0 0 25px black, 0 0 5px green;
}

#icon{
    color: white;
    text-shadow: 1px 1px 2px green, 0 0 25px green, 0 0 5px green;  
    border-style: solid;
    padding: 5px;
}

#font{
    font-family: 'Oswald', sans-serif;
}