.content{
    width: 100%;
    background-color: rgb(14, 182, 22);
    padding: 20px;
    width: 100%;
    color: white;
}

#display{
    width: 100%;
}

#slider{
    width: 50%;
}

#length{
    display: inline-block;
    width: 100px;
}
body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif");
    background-size: cover;
}

.used-passwords{
    margin-bottom: 20px;
    color: white;

}

#jumbotron{
    font-family: 'Oswald', sans-serif;
    background-image: radial-gradient(green,black);
}

#icon{
    color: white;
    text-shadow: 2px 2px 5px rgb(24, 211, 64);
    border-style: solid;
    padding: 5px;
}